@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
}

.text-shadow {
  color: white;
  -webkit-text-stroke: 2.5px rgb(128, 11, 11);
}

.yellow-filter {
  filter: invert(1) sepia(1) saturate(1000%) brightness(1) drop-shadow(0 0 2px rgba(255, 0, 0, 1));
}
